
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity
}
#map{
    height: 100%;
}

#map-canvas {
   height: 83%;
}
html, body, main {
   height: 100% !important;
   margin: 0;
   padding: 0;
 }
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
