#map{
    height: 100%;
}

#map-canvas {
   height: 83%;
}
html, body, main {
   height: 100% !important;
   margin: 0;
   padding: 0;
 }
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
