// Basics
body, html, main {
    height: 100% !important;
    margin: 0;
    padding: 0;
}
// Latest commit widget

.github-commit {
    padding: 14px 0;
    height: 64px;
    line-height: 36px;
    background-color: #1a237e;
    color: hsl(0, 0%, 90%);
    font-size: 0.9rem;
}
@media #{$medium-and-down} {
    .github-commit {
        text-align: center;
    }
}

#github-button {
    background-color: #e4286d;
    transition: 0.25s ease;

    &:hover {
        background-color: #e4286d;
    }
}

.sha {
    color: hsl(0, 0%, 94%);
    margin: 0 6px;
}
// Landingpage intro image

#index-banner {
    padding: 100px 0;

    .card-panel {
        width: 80%;
        max-width: 760px;
        margin: 0 auto;
        background-color: #fff;
        padding: 2em;
    }
}
// Google Maps

#promo-map {
    height: 500px;
}

#promo-map > #map-canvas {
    height: 100%;
}

#map {
    height: 100%;
    position: relative;
}

#map-canvas {
    height: 100%;
}

// Search box in side-nav
.search-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin-top: 1px;
    padding: 1px 0 0;
    z-index: 2;
    max-width: 400px;

    .search-wrapper {
        margin: 0 12px;

        .focused {
            margin: 0;
        }

        input#search {
            display: block;
            font-size: 16px;
            font-weight: 300;
            width: 79%;
            height: 45px;
            margin: 0;
            padding: 0 40px;
            border: 0;
        }

        input#search:focus {
            box-shadow: none;
        }

        i.search {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }

        i.filter {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }

    .search-results {
        display: none;

        ul {
            margin: 0;

            li {
                padding: 0 16px;
                float: none;
                line-height: 40px;
                width: auto;
                max-height: 40px;
            }

            li:hover {
                background-color: #f5f5f5;
            }

            i.material-icons {
                float: left;
                line-height: 40px;
                margin: 0 32px 0 0;
                width: 24px;
                color: rgba(0,0,0,0.54);
            }
        }
    }
}

.settings {
    page-break-inside: avoid;
    /* Chrome, Safari, Opera */
    break-inside: avoid;
    /* Firefox */
    padding: 5px;

    .card {
        margin: 0;
    }

    .item {
        padding-left: 0 !important;
    }

    a {
        background: $button-disabled-background;
        color: $secondary-color;
        display: block;
        border-radius: 4px;
        padding: 35px 5px 0;
        text-align: center;
        position: relative;
        height: 130px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    i {
        font-size: 48px;
    }

    h6 {
        @extend .truncate;
    }
}

.dropdown-content {
    min-width: 300px;
    /* Changed this to accomodate content width */
}

.modal {
    width: 75% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}
/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */
//

nav {
    .shadow {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
        transform: translateZ(0);
        transition: 0.3s;
    }
}

.nav-wrapper-shadow {
    @extend .shadow;
    @extend .nav-wrapper;
}
// Styles for Login Register and Forgot

.forgot,
.login,
.register {
    .login-row {
        @extend .row;
        margin-bottom: 0;
    }

    h5 {
        font-weight: 300;
    }

    .col.indigo {
        padding: 10% 5%;
        @media #{$small-and-down} {
            height: auto;
        }
        @media #{$medium-and-up} {
            height: 100%;
        }
    }
}
